QPushButton, QLabel {
    font-size: 12px;
}

QLabel#DeskNameLabel {
    margin-left: 5px;
    font-size: 15px;
}

QLabel#DeskTimerLabel {
    margin-right: 5px;
    font-size: 15px;
}

QWidget#DeskNumKeysWidget {
    margin: 0px;
    padding: 0px;
}

QWidget#MainWidget {
    margin: 0px;
    padding: 0px;
}

QPushButton#DeskNumBtn {
    width: 6px;
    height: 12px;

    margin: 0px;
    padding: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

QPushButton#DeskNumBtn[active=true] {
    background-color: yellow;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

QPushButton#DeskNumBtn:disabled {
    border-color: gray;
}

QPushButton#NewDeskBtn {
    background-color: red;

    width: 8px;
    height: 12px;

    margin: 0px;
    padding: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

QLabel#DeskNameLabel {
    /*font-size: 12px;*/
}